/**
 * Uppish Styles
 *
 * @package    Laravel
 * @subpackage TechnoVistaLimited/Uppish
 */

.btn-uppish,
.js-uppish-delete-file,
.js-uppish-file-link {
    display: inline-block;
    padding: 0.375rem 0.75rem;
    background-color: transparent;
    border: 0;
    border-radius: 0.2rem;
    cursor: pointer;
}

.btn-uppish {
    position: relative;
    overflow: hidden;
    border: 1px solid rgba(37, 116, 169, 0.5);
}

.btn-uppish:focus,
.btn-uppish.focus,
.btn-uppish:hover,
.btn-uppish.hover,
.btn-uppish:active{
    background-color: rgba( 37, 116, 169, 0.05 );
    border-color: rgba(37, 116, 169, 1);
}

.btn-uppish input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.js-uppish-delete-file {
    color: #e3342f;
    border: 1px solid #e3342f;
    position: absolute;
    right: 0;
    top: 0;
}

.uppish-success.fade-out,
.uppish-error.fade-out {
    transition: opacity 1s ease-in-out;
    opacity: 0;
}
